@use '~bootstrap/scss/bootstrap';



$dc_primary: #0282f9;
$dc_darker: #1c1c1c;
$dc_dark: #303030;
$dc_light: #ffffff;

header {

    .bar {
        background-color: $dc_primary;
        padding: 0.3rem;
    }

    .header_wrapper {
        height: 100%;

        li {

            padding: 2rem 0;
            border-bottom: 3px solid transparent;

            a {
                text-transform: uppercase;

            }

            &.active_li {
                border-bottom: 3px solid $dc_primary;

                a.active {
                    color: $dc_primary;

                }
            }

            span.active {
                color: $dc_primary;

            }
        }

        form {
            .search_wrapper {

                input {
                    width: 80px;
                }

                border-bottom: 2px solid $dc_primary;

            }
        }
    }
}

#jumbo {

    .jumbo_img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    .current_btn {
        position: absolute;
        bottom: 0;
        left: -0.5rem;
        transform: translatey(50%);
    }

}

.card {

    background-color: transparent;

    img {
        height: 185px;
        object-fit: cover;
        object-position: top;
    }

    h6 {
        font-size: 0.9rem;
    }
}


main {
    min-height: 100vh;
    background-color: $dc_darker;
}


.footer_top {

    height: 400px;
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;

    h3 {

        text-transform: uppercase;
        color: white;
        font-weight: bolder;
        font-size: 1.25rem;

    }

    a {

        color: gray;
        text-decoration: none;

        &:hover {

            color: white;

        }
    }

    .logo {

        background-image: url('../img/dc-logo-bg.png');
        background-repeat: no-repeat;
        background-position: center;

    }
}

.footer_bottom {

    height: 110px;
    background-color: $dc_dark;

    h3 {

        text-transform: uppercase;
        color: $dc_primary;
        font-weight: bold;
        font-size: 1.25rem;
        padding-top: 0.5rem;

    }

    #socials a img:hover {

        cursor: pointer;

        filter: brightness(3);

        transition: filter, 0.5s;
    }

}