@use './variables' as *;

#banner {
    background-color: $dc_primary;
    height: 150px;

    .wrapper {

        height: 55px;

        a {

            text-decoration: none;

            img {

                height: 55px;
                object-fit: scale-down;

            }

            .label {

                color: white;
                text-transform: uppercase;
                font-size: 0.8rem;
            }

        }
    }

}