@use './variables' as *;

#jumbo {

    .jumbo_img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    .current {
        position: absolute;
        bottom: 0;
        left: -0.5rem;
        transform: translatey(50%);

        div {
            font-size: 1.5rem;
            background-color: $dc_primary;
            color: white;
            padding: 0.5rem 2rem;
        }
    }

}